<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.veriff.demo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" /> <!-- "signature" permission granted automatically by system, without notifying user. -->
    <uses-permission android:name="${applicationId}.VERIFF_STATUS_BROADCAST_PERMISSION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c5da9c05cd288a90e5ce40cdf7200957fd057e72" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginActivity"/>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".receiver.VeriffStatusReceiver"
            android:permission="${applicationId}.VERIFF_STATUS_BROADCAST_PERMISSION">
            <intent-filter>
                <category android:name="${applicationId}" />

                <action android:name="veriff.info.status" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.VeriffSDKStatusUpdatesService"
            android:exported="false">
            <intent-filter>
                <action android:name="me.veriff.STATUS_UPDATE" />
            </intent-filter>
        </service>
    </application>

</manifest>